html {
    cursor: url('images/cursor.png'), crosshair;
}

body {
    height: 100vmin;
    font-family: 'Montserrat';
    background-color: #4E598C;
    animation: bg-color-home 30s ease-in-out infinite alternate-reverse;
}

@keyframes bg-color-home {
    0% {
        background-color: #4E598C;
    }

    33% {
        background-color: #6B0504;
    }

    66% {
        background-color: #235610;
    }

    100% {
        background-color: #709775;
    }
}

@keyframes bg-color-space {
    0% {
        background-color: #3B4368;
    }

    33% {
        background-color: #515C90;
    }

    66% {
        background-color: #2C324E;
    }

    100% {
        background-color: #4E598C;
    }
}

@keyframes bg-color-time {
    0% {
        background-color: #56765A;
    }

    33% {
        background-color: #153409;
    }

    66% {
        background-color: #235610;
    }

    100% {
        background-color: #709775;
    }
}

@keyframes bg-color-being {
    0% {
        background-color: #A43D40;
    }

    33% {
        background-color: #6B0504;
    }

    66% {
        background-color: #9D0806;
    }

    100% {
        background-color: #772C2F;
    }
}

#home {
    visibility: visible;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vmax;
    height: 100vmin;
}

#space {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vmax;
    height: 100vmin;
}

#time {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vmax;
    height: 100vmin;
}

#being {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vmax;
    height: 100vmin;
}

#home h1,
#space h1,
#time h1,
#being h1 {
    text-align: center;
    column-span: all;
    /* margin: 0;
    padding: 10vmin; */
    margin: 0 10vmin 5vmin;
    padding: 0;
    font-weight: 300;
    color: white;
    opacity: 75%;
    text-indent: 0;

    /* text-indent: -1em;
    direction: rtl; */

    transition: all 2s ease-in-out;
    /* animation-play-state: paused; */
}

#home h1 {
    filter: blur(10px);
    letter-spacing: 1rem;
    font-weight: 500;
    margin-top: 10vmin;
}

#home h1:hover {
    font-weight: 300;
    filter: blur(0px);
    letter-spacing: normal;
    transition: all 2s ease-in-out;
}

#space h1:hover {
    letter-spacing: 3rem;
    /* margin-left: 12vmax; */
    /* text-indent: 10rem; */
    transition: all 5s ease-in-out;
}

#time h1:hover {
    letter-spacing: 1rem;
    opacity: 0;
    transition: all 2s ease-in-out;
}

#being h1:hover {
    font-weight: 900;
    transition: all 2s ease-in-out;
    animation: breathing 30s ease-in-out infinite;
    /* animation-play-state: running; */
}

@keyframes breathing {
    0% {
        font-weight: 300;
    }

    10% {
        font-weight: 900;
    }

    20% {
        font-weight: 100;
    }

    30% {
        font-weight: 900;
    }

    40% {
        font-weight: 100;
    }

    50% {
        font-weight: 900;
    }

    60% {
        font-weight: 100;
    }

    70% {
        font-weight: 900;
    }

    80% {
        font-weight: 100;
    }

    90% {
        font-weight: 900;
    }

    100% {
        font-weight: 300;
    }
}

h3 {
    width: 33vmax;
    text-align: center;
    margin: 10vmin;
    padding: 15vmin;
    font-weight: 300;
    color: white;
    opacity: 60%;
    letter-spacing: 1rem;
    filter: blur(4px);
    transition: all 2s ease-in-out;
    overflow: hidden;
}

h3:hover {
    font-weight: 500;
    letter-spacing: normal;
    filter: blur(0px);
    transition: all 2s ease-in-out;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    text-align: center;
    color: white;
    opacity: 75%;
    font-weight: 100;
    margin-top: 15vmin;
}