html {
    cursor: text;
}

.visible {
    visibility: visible;
}

.hidden {
    visibility: hidden;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/roboto.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* More font faces for start page animation */
@font-face {
    font-family: 'Abril Fatface';
    src: url('fonts/abril-fatface.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('fonts/bebas-neue.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('fonts/playfair-display.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/montserrat.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pacifico';
    src: url('fonts/pacifico.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Roboto';
    background-color: #a5a58d;
    transition: background-color 0.6s ease;
}

body.alt-bg {
    background-color: #a5a58d;
}


section {
    display: flex;
    flex-direction: column;
    text-align: center;
    /* justify-content: center; */
    align-items: center;
    position: absolute;
    width: 100vmax;
    height: auto;
    margin-top: 15vmin;
}

header {
    width: 100vmax;
    height: 10vmin;
    display: flex;
    justify-content: center;
    align-items: last baseline;
    gap: 10vmax;
}

button {
    font-family: 'Roboto';
    font-size: 16px;
    width: 200px;
    height: 36px;
    color: black;
    border-color: black;
    border-width: 1px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.533);
    margin-top: 5vmin;
    transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
}

button:hover,
#options button:hover {
    background-color: black;
    color: white;
    cursor: text;
}

h1 {
    font-size: 72px;
}

.score-time {
    display: flex;
    gap: 10px;
}

#static {
    width: 400px;
    display: block;
}

#typeface {
    height: 50px;
    display: block;
}

#guess {
    gap: 2vmin;
}

#incorrect-answer,
#summary {
    display: flex;
    gap: 30vmax;
    text-align: center;
    width: 70vmax;
    justify-content: center;
}

#options {
    display: flex;
    gap: 5vmax;
}

#options button {
    /* border-color: rgb(0, 0, 0, 0); */
    border-color: black;
    /* background-color: rgba(255, 255, 255, 0.533); */
    height: 56px;
}

#end-game {
    margin-top: 10vmin;
    text-decoration: underline;
    border-color: transparent;
    background-color: rgba(255, 255, 255, 0);
}

#end-game:hover {
    text-decoration: none;
    color: black;
}

#end {
    margin-top: 0vmin;
}

#replay {
    margin-bottom: 10vmin;
}

footer {
    margin-bottom: 2vmin;
    font-family: 'Roboto';
    width: 100vmax;
    height: 2vmin;
    text-align: center;
    position: absolute;
    bottom: 0;
}

a,
a:hover {
    color: black;
    font-size: 10px;
    text-decoration: none;
}