h1 {
    text-align: center;
    font-family: 'Roboto Mono';
}

img {
    width: auto;
    height: 80vmin;
}

body {
    margin: 7vmin 10vmax 0;
    font-family: 'Inter';
    animation: bg-color-spring 5s ease-in-out infinite alternate-reverse;
}

main {
    display: flex;
    justify-content: center;
}

p {
    margin: 10vmin;
    width: 30vmax;
    line-height: 1.5em;
}

@keyframes bg-color-spring {
    0% {
        background-color: #edeec9;
    }

    33% {
        background-color: #dde7c7;
    }

    66% {
        background-color: #bfd8bd;
    }

    100% {
        background-color: #98c9a3;
    }
}